/* Place the navbar at the bottom of the page, and make it stick */

/* colour pallette: 
#E74645
#FB7756
#FACD60
#FDFA66
#1AC0C6 */

.navbar {
  background-color: #1ac0c6;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #facd60;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #4caf50;
  color: white;
}
